<template>
  <div class="contact">
    <div
      :style="`background: url(images/contact.jpg)`"
      class="page-header home-header"
    ></div>
    <div class="container">
      <div class="container-text">
        <div class="page-text">
          <div class="margin-bottom-medium">
            <h1>{{ contact.title }}</h1>
          </div>
          <p class="bold">{{ contact.company }}</p>
          <p>{{ contact.address }}</p>
          <p>{{ contact.postbus }}</p>
          <p>{{ contact.rentalcode }}</p>
          <p>
            <span class="bold">T</span>:
            <span v-html="contact.phone"></span>
            <!-- <a :href="`tel:${contact.phone}`">{{ contact.phone }}</a> -->
          </p>
          <p>
            <span class="bold">E</span>:
            <a :href="`mailto:${contact.email}`">{{ contact.email }}</a>
          </p>
        </div>
      </div>
      <iframe
        class="page-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.053992823242!2d4.3386254156087185!3d52.07874697658835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b7060f3bce4b%3A0x669aca786de7ea2!2sWilhelmina%20van%20Pruisenweg%20104%2C%202595%20AN%20Den%20Haag!5e0!3m2!1snl!2snl!4v1603107363063!5m2!1snl!2snl"
        width="100%"
        frameborder="0"
        style="border: 0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({
  // @ts-ignore
  async asyncData({ $content }) {
    const contact = await $content('pages/contact').fetch()
    return { contact }
  },
})
export default class FaqPage extends Vue {}
</script>
