<template>
  <div class="reparatie">
    <div
      :style="`background: url(images/reparatieverzoek_header.jpg)`"
      class="page-header home-header"
    ></div>
    <div class="container">
      <div class="page-flex">
        <div class="container-text">
          <div class="page-text">
            <div class="margin-bottom-medium">
              <h1>{{ page.title }}</h1>
            </div>
            <p v-html="page.text_1"></p>

            <p v-html="page.text_2"></p>
            <p v-html="page.text_3"></p>
            <p v-html="page.text_4"></p>
            <div
              class="image qr-code"
              style="
                background: url('images/qr-code.png') center center no-repeat;
              "
            ></div>
          </div>

          <div class="page-image-mobile">
            <div
              :style="`background: url(images/${page.image})`"
              class="image"
            ></div>
          </div>
        </div>
        <div class="page-image">
          <div
            :style="`background: url(images/${page.image})`"
            class="image"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({
  // @ts-ignore
  async asyncData({ $content }) {
    const page = await $content('pages/reparatieverzoek').fetch()
    return { page }
  },
})
export default class FaqPage extends Vue {}
</script>
