<template>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-contain">
        <div class="footer-logo">
          <nuxt-link to="/">
            <img class="logo-footer" src="images/logo-white.png" alt="" />
          </nuxt-link>
          <ul class="footer-social">
            <li>
              <a href="https://www.linkedin.com/company/cornerstonevastgoed">
                <div class="circle">
                  <img src="images/social/linkedin.svg" alt="" />
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-menu">
          <ul>
            <li v-for="item in content.slice(0, 6)" :key="item._id">
              <nuxt-link :to="item.slug">
                {{ item.title.replace('Faq', 'FAQ') }}
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="footer-group">
        <h3>Cornerstone is aangesloten bij</h3>
        <ul class="footer-company">
          <li>
            <a href="#">
              <div class="circle">
                <img src="images/logo-white.png" alt="" />
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="circle">
                <img src="images/logo-white.png" alt="" />
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="circle">
                <img src="images/logo-white.png" alt="" />
              </div>
            </a>
          </li>
        </ul>
      </div> -->
    </div>

    <div class="line">
      <div class="line-grey"></div>
    </div>

    <div class="footer-end">
      <ul>
        <li><p>&copy; <span id="copyright"></span> Cornerstone Vastgoed B.V.</p></li>
        <li>
          <nuxt-link to="/privacy-verklaring">Privacy verklaring</nuxt-link>
        </li>
        <li>
          <nuxt-link to="/algemene-voorwaarden">Algemene voorwaarden</nuxt-link>
        </li>
      </ul>
    </div>
    <div class="grey-corner"></div>
  </footer>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component
export default class Footer extends Vue {
  content = []
  $content: any

  async fetch() {
    this.content = await this.$content('pages').sortBy('__id', 'asc').fetch()
  }
}
</script>
