<template>
  <header class="header">
    <div class="header-container">
      <div class="header-logo">
        <nuxt-link to="/">
          <img src="images/logo.png" alt="" />
        </nuxt-link>
      </div>
      <div class="header-content">
        <div class="phone">
          <img src="images/phone.png" alt="" />
          <a href="tel:085-4884780">085-4884780</a>
        </div>
        <div class="portal">
          <a target="_blank" href="https://login.cornerstonevastgoed.nl/">
            <div class="btn btn-red">
              <p>Huurdersportaal</p>
              <div class="btn-corner btn-red-corner"></div></div
          ></a>
        </div>
        <!-- <div class="search">
          <div class="btn btn-red" @click="showSearch">
            <p>Zoeken</p>
            <div class="btn-corner btn-red-corner"></div>
          </div>
        </div> -->
      </div>
    </div>
    <div class="header-menu">
      <div class="header-menu-container">
        <div
          :class="{ open: openHamburger }"
          class="hamburger"
          @click="openHamburger = !openHamburger"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-mobile">
          <div
            v-if="$route.path === '/'"
            :class="{ active_menu: $route.path === '/' }"
          >
            <nuxt-link :to="`/${activeLink}`">
              <div class="inside">
                {{ activeLink }}
              </div>
            </nuxt-link>
          </div>
          <div v-else :class="{ active_menu: $route.name }">
            <nuxt-link :to="`/${$route.name}`">
              <div class="inside">
                {{ $route.name }}
              </div>
            </nuxt-link>
          </div>
        </div>
        <ul v-if="showMobileMenu" class="menu">
          <li :class="{ active_menu: $route.path === '/' }">
            <nuxt-link title="Home" to="/">
              <div class="inside">
                <p title="Home">Home</p>
              </div>
            </nuxt-link>
          </li>
          <li
            v-for="item in content.slice(0, 6)"
            :key="item.__id"
            :class="{ active_menu: $route.path.includes(item.slug) }"
          >
            <nuxt-link :to="`/${item.title.toLowerCase()}`">
              <div class="inside">
                <p>{{ item.title }}</p>
              </div>
            </nuxt-link>
          </li>
        </ul>
        <div class="header-menu-relative">
          <div class="header-menu-corner"></div>
        </div>
      </div>
    </div>
    <transition appear="" name="fade">
      <div v-if="searchPopup" class="search-popup">
        <div class="search-popup-container">
          <div class="search-box">
            <input v-model="searchQuery" type="search" placeholder="Zoeken" />
          </div>

          <div v-if="articles.length > 0" class="result-box">
            <div
              @mouseover="search(result.title)"
              class="result-box-item"
              v-for="result in articles"
              :key="result.__id"
              :class="{ add: searchHover }"
            >
              <nuxt-link :to="result.slug">
                <div @click="showSearch">
                  <p>{{ result.title }}</p>
                  <div class="result-corner"></div>
                </div>
              </nuxt-link>
            </div>
          </div>
          <div v-else class="result-box">
            <div class="no-result">
              <p>Geen resultaat...</p>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <transition name="slide">
      <div v-if="openHamburger" class="header-mobile-menu">
        <div class="relative">
          <div
            :class="{ open: openHamburger }"
            class="hamburger"
            @click="openHamburger = !openHamburger"
          >
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul class="menu-mobiles">
            <li :class="{ active_menu: $route.path === '/' }">
              <nuxt-link to="/">
                <div class="inside">
                  <p>Home</p>
                </div>
              </nuxt-link>
            </li>
            <li
              v-for="item in content.slice(0, 6)"
              :key="item.__id"
              :class="{ active_menu: $route.path.includes(item.slug) }"
            >
              <nuxt-link :to="`/${item.title.toLowerCase()}`">
                <div class="inside">
                  <p>{{ item.title }}</p>
                </div>
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </transition>
  </header>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'nuxt-property-decorator'

@Component
export default class Header extends Vue {
  content = []
  searchQuery = ''
  articles = []
  searchPopup = false
  searchHover = false
  showMobileMenu = true
  activeLink = 'Home'
  openHamburger = false
  $content: any

  async fetch() {
    this.content = await this.$content('pages').sortBy('__id', 'asc').fetch()
    // console.log(this.content)
  }

  @Watch('searchQuery')
  async goSearching(searchQuery) {
    if (!this.searchQuery) {
      this.articles = []
      return
    }
    this.articles = await this.$content('pages').search(searchQuery).fetch()
    console.log(this.articles)
  }

  @Watch('openHamburger')
  hamburger() {
    const menuMobile = document.querySelector('.menu-mobile')! as HTMLElement
    if (this.openHamburger) {
      menuMobile.style.left = '-100%'
      document.body.style.overflow = 'hidden'
    } else {
      menuMobile.style.left = '0'
      document.body.style.overflow = 'scroll'
    }
  }

  @Watch('$route')
  watchRoute(to, from) {
    if (to !== from) {
      this.openHamburger = false
    }
  }

  resizeWindow() {
    const menu = document.querySelector('.menu')! as HTMLElement
    const menuMobile = document.querySelector('.menu-mobile')! as HTMLElement
    const hamburger = document.querySelector('.hamburger')! as HTMLElement
    const phone = document.querySelector('.phone')! as HTMLElement
    let time = 1
    setInterval(() => {
      if (time >= 0) {
        time = 1
        if (window.innerWidth <= 1024) {
          if (!this.openHamburger) {
            menuMobile.style.left = '0'
            hamburger.style.right = '3rem'
          }

          setTimeout(() => {
            menu.style.width = '0'
          }, 250)
        } else {
          menuMobile.style.left = '-100%'
          hamburger.style.right = '-100%'
          this.openHamburger = false

          setTimeout(() => {
            menu.style.width = '100%'
          }, 250)
        }
        return
      }
      time--
    }, 500)
  }

  search(index) {
    console.log(index)
  }

  showSearch() {
    this.searchPopup = !this.searchPopup
    this.searchQuery = ''
  }

  mounted() {
    this.resizeWindow()
  }
}
</script>
