.fade-enter-active,
.fade-leave-active {
  transition: all 1s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  bottom: 0;
}

.slide-leave-active,
.slide-enter-active {
  transition: all 1s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translate(100%, 0);
}

.slide-down-enter-to,
.slide-down-leave {
  max-height: 50rem;
  overflow: hidden;
  transition: all 1s ease;
}

.slide-down-enter,
.slide-down-leave-to {
  overflow: hidden;
  max-height: 0;
}
