// COLOR VARIABLES
$red: #ab1f19;
$orange: #ec621d;
$darkgrey: #333333;
$darkgrey2: #383838;
$lightgrey: #4a4a4a;
$black: #000000;

// FONT VARIABLES
$font-primary: 'Avenir LT Std';

// RESPONSIVE BREAKPOINTS
$bp-small: 37.5em; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none !important;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media screen and (max-width: $bp-small) {
    font-size: 60%;
  }
}

body {
  font-family: $font-primary;
  font-style: normal;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

p,
a {
  font-weight: normal;
  font-size: 1.6rem;
  font-size: clamp(1.5rem, 2.5vw, 1.7rem);
  text-decoration: none;
  color: $black;
  letter-spacing: 1px;
  transition: all 800ms ease;
}

.btn {
  text-transform: uppercase;
  padding: 0 4rem;
  height: 5.8rem;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .btn-corner {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      width: 101%;
    }

    p {
      color: white;
      left: 0;
    }
  }

  p {
    position: relative;
    bottom: -1px;
    left: -5px;
    z-index: 1;
    transition: all 300ms ease;
  }

  &-corner {
    width: 21px;
    height: 101%;
    position: absolute;
    right: -1px;
    top: 0;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    transition: all 800ms ease;
  }
}

.btn-red {
  border: 1px solid $red;

  &-corner {
    background-color: $red;
  }
}

.btn-white {
  border: 1px solid white;

  &:hover {
    p {
      color: $orange;
    }
  }

  p {
    color: white;
  }

  &-corner {
    background: white;
  }
}

h1,
h2,
h3 {
  font-weight: 900;
  transition: all 800ms ease;
}

h3 {
  font-size: 3rem;
  font-size: clamp(2.5rem, 2.5vw, 3.5rem);
}

@keyframes example2 {
  from {
    top: 20rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.container {
  max-width: 110rem;
  opacity: 1;
  top: 0;
  margin: 0 auto;
  padding: 0 3rem;
  animation-name: example2;
  animation-duration: 1s;
  position: relative;
  transition: all 800ms ease;
}

.container-text {
  max-width: 57vw;
  flex: 1;
  padding-right: 5rem;

  @media screen and (max-width: 1024px) {
    max-width: 70vw;
  }

  @media screen and (max-width: $bp-small) {
    max-width: 100%;
    padding: 0;
  }
}
