.margin-bottom-medium {
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold;
}

.full_white {
  .btn-corner {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    width: 101%;
  }

  p {
    color: $orange;
    left: 0;
  }
}
