<template>
  <div class="reparatie">
    <div
      :style="`background: url(images/verhuizen.jpg)`"
      class="page-header home-header"
    ></div>
    <div class="container">
      <div class="page-flex">
        <div class="container-text">
          <div class="page-text">
            <div class="margin-bottom-medium">
              <h1>{{ page.title }}</h1>
            </div>
            <p v-html="page.text_1"></p>
            <p v-html="page.text_2"></p>
            <p v-html="page.text_3"></p>
            <p v-html="page.text_4"></p>
            <p v-html="page.text_5"></p>
            <p v-html="page.text_6"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({
  // @ts-ignore
  async asyncData({ $content }) {
    const page = await $content('pages/verhuizen').fetch()
    return { page }
  },
})
export default class FaqPage extends Vue {}
</script>
