.footer {
  background-color: $darkgrey;
  margin-top: 9rem;
  position: relative;
  overflow: hidden;

  &-container {
    display: flex;
    justify-content: space-between;
    padding: 6rem 3rem 6rem;
    transition: all 800ms ease;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &-contain {
    display: flex;
    justify-content: flex-start;
    transition: all 800ms ease;

    @media screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }

  &-social {
    display: flex;
    align-items: center;
    margin-left: 5rem;

    li {
      .circle {
        background-color: $darkgrey2;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 2.8rem;
          height: auto;
        }
      }

      &:nth-child(2) {
        img {
          position: relative;
          right: -2px;
        }
      }
    }
  }

  &-logo {
    width: 100%;
    transition: all 800ms ease;
    display: flex;
    align-items: center;
    margin-right: 8rem;

    .logo-footer {
      margin-top: 1rem;
      width: clamp(14rem, 12vw, 18rem);
      height: auto;
    }
  }

  &-menu {
    flex: 1;
    transition: all 800ms ease;
    width: 100%;

    @media screen and (max-width: 1024px) {
      padding-left: 0;
    }

    @media screen and (min-width: $bp-small) and (max-width: 1024px) {
      display: flex;
      justify-content: flex-end;
    }

    @media screen and (max-width: $bp-small) {
      margin-top: 5rem;
    }

    ul {
      column-count: 2;

      li {
        padding: 1rem;
      }
    }

    a {
      color: white;
    }
  }

  &-group {
    transition: all 800ms ease;
    width: 100%;
    flex: 1;
    text-align: right;

    @media screen and (max-width: 1024px) {
      text-align: center;
      margin-top: 5rem;
    }

    h3 {
      font-size: clamp(1.8rem, 1.3vw, 2.6rem);
      text-transform: uppercase;
      color: white;
      letter-spacing: 3px;
    }
  }

  &-company {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    justify-content: flex-end;
    transition: all 800ms ease;

    @media screen and (max-width: 1024px) {
      justify-content: center;
    }

    li {
      padding-right: 2rem;
      &:last-child {
        padding: 0;
      }

      .circle {
        background-color: $darkgrey;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 6rem;
          height: auto;
        }
      }
    }
  }

  &-end {
    padding: 3rem;
    position: relative;
    z-index: 1;
    ul {
      display: flex;
      align-items: center;
      transition: all 800ms ease;

      @media screen and (max-width: 800px) {
        flex-direction: column-reverse;
      }

      li {
        @media screen and (max-width: 800px) {
          margin-bottom: 2rem;
        }

        &:nth-child(1) {
          margin-right: 5rem;

          @media screen and (max-width: 800px) {
            margin-right: 0;
          }
        }

        &:nth-child(2) {
          margin-right: 3rem;

          @media screen and (max-width: 800px) {
            margin-right: 0;
          }
        }
      }
    }

    p,
    a {
      color: white;
    }
  }

  .line {
    padding: 0 3rem;
    &-grey {
      width: 100%;
      background-color: $lightgrey;
      height: 2px;
      position: relative;
      z-index: 2;
    }
  }

  .grey-corner {
    background-color: $darkgrey2;
    width: 32%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    transition: all 800ms ease;

    @media screen and (max-width: 1024px) {
      width: 60%;
      clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    }
  }
}
