.header {
  overflow: hidden;
  position: relative;
  &-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-small) {
      height: 15rem;
      padding: 0 1.5rem;
    }
  }

  &-logo {
    img {
      width: 20rem;
      height: auto;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-small) {
        width: 15rem;
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;

    .portal {
      transition: all 800ms ease;

      .btn {
        background: white;
        position: relative;
        z-index: 10;
        @media screen and (max-width: $bp-small) {
          max-width: 18rem;
          float: right;

          p {
            font-size: 1.3rem;
          }
        }
      }
    }

    .phone {
      display: flex;
      align-items: center;
      transition: all 800ms ease;
      position: relative;
      margin-right: 3rem;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      img {
        width: 5.5rem;
        height: auto;
      }

      a {
        padding: 0 1.5rem;
      }
    }

    .search {
      cursor: pointer;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  .search-popup {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: rgba(24, 24, 24, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    top: 0;

    &-container {
      max-width: 90rem;
      width: 100%;
      height: 50rem;

      .search-box {
        border-radius: 5px;
        margin-bottom: 3rem;
        input {
          width: 100%;
          padding: 1.5rem 3rem;
          font-size: 2.5rem;
          text-transform: uppercase;
          border: 3px solid $orange;
          border-radius: 5px;
        }
      }

      .result-box {
        margin-bottom: 1rem;

        &-item {
          background-color: $orange;
          overflow: hidden;
          margin-bottom: 2rem;
          height: 6rem;
          position: relative;
          display: flex;
          align-items: center;

          &:hover {
            p {
              color: white;
            }

            .result-corner {
              width: 101%;
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
          }

          .result-corner {
            background: $red;
            position: absolute;
            width: 40%;
            height: 100%;
            top: 0;
            right: -1px;
            clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%);
            transition: all 300ms ease;
          }

          p {
            text-transform: uppercase;
            padding: 0 3rem;
            font-size: 2.2rem;
            color: white;
            z-index: 99;
            position: relative;
          }
        }

        .no-result {
          text-align: center;
          margin: 3rem 0;

          p {
            color: $orange;
            font-size: 4rem;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            z-index: 1;
          }
        }
      }
    }
  }

  &-mobile-menu {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    background: $orange;
    width: 60vw;
    height: 100%;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    transition: all 500ms ease;

    @media screen and (max-width: $bp-small) {
      width: 80vw;
    }
  }

  .menu-mobiles {
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    li {
      position: relative;
      margin-bottom: 3vw;
      &::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: '';
        display: block;
        height: 4px;
        position: absolute;
        background: white;
        transition: width 0.5s ease 0s, left 0.5s ease 0s;
        width: 0;
        left: 50%;
      }

      &:hover:after {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .relative {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    a,
    p {
      color: white;
      text-transform: uppercase;
      font-size: 2.8rem;
      font-size: clamp(2rem, 2.3vw, 3rem);
      letter-spacing: 1.5px;
      padding-bottom: 5px;
    }
  }

  .hamburger {
    width: 38px;
    height: 30px;
    position: absolute;
    transform: rotate(0deg);
    right: -100%;
    transition: all 0.5s ease-in-out;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 30;

    span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: white;
      border-radius: 4px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
          left: -60px;
        }

        &:nth-child(3) {
          top: 50%;
          transform: rotate(-135deg);
        }
      }
    }

    @media screen and (max-width: 1024px) {
      display: block;
    }
  }

  .active_menu {
    display: block !important;
    position: relative;
    p {
      position: relative;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 1.5px;
      -webkit-text-stroke-color: white;
    }
    &::after {
      content: '';
      display: block;
      width: 100% !important;
      bottom: 0;
      height: 4px;
      background: white;
      transition: width 0.5s;
      position: absolute;
      z-index: 5;
      transform: translateX(-50%);
      left: 50%;
    }
  }

  &-menu {
    background: $red;
    width: 100%;
    position: relative;
    flex: 1;

    &-corner {
      background-color: $red;
      width: 100%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%);
      transition: all 500ms ease;
      z-index: 22;
    }

    .orange-block {
      position: absolute;
      width: 15%;
      height: 10rem;
      left: 0;
      top: 0;
      background-color: $orange;

      @media screen and (max-width: 1024px) {
        width: 0;
      }
    }

    .orange-corner {
      position: absolute;
      width: 50%;
      height: 10rem;
      right: 0;
      top: 0;
      background-color: $orange;
    }

    &-container {
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      position: relative;
      height: 6.5rem;
    }

    &-relative {
      overflow: hidden;
      position: relative;
    }

    .menu-mobile {
      display: flex;
      gap: 3rem;
      background-color: $orange;
      padding: 0 3rem;
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
      transition: all 1s ease;
      position: absolute;
      left: -100%;
      z-index: 10;

      .inside {
        text-align: center;
        align-items: center;
        display: flex;
        height: 6.5rem;
      }

      a,
      p {
        color: white;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-size: clamp(1.6rem, 2vw, 2rem);
        letter-spacing: 1.5px;
      }

      .active_menu {
        a,
        p {
          font-weight: bold;
        }
      }
    }

    .menu {
      display: flex;
      // gap: 3rem;
      background-color: $orange;
      padding: 0 3rem;
      clip-path: polygon(0 0, 100% 0, 98.5% 100%, 0 100%);
      transition: all 1s ease;
      position: relative;
      width: 100%;
      margin-right: 100%;

      @media screen and (max-width: 1024px) {
        clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
        width: 0;
        padding: 0;
      }

      li {
        height: 6.5rem;
        position: relative;
        overflow: hidden;
        margin-right: 3rem;

        &:last-child {
          margin-right: 0;
        }

        .inside {
          text-align: center;
          align-items: center;
          display: flex;
          height: 6.5rem;
        }

        &::after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: '';
          display: block;
          height: 4px;
          position: absolute;
          background: white;
          transition: width 0.5s ease 0s, left 0.5s ease 0s;
          width: 0;
          left: 50%;
        }

        &:hover:after {
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      a,
      p {
        color: white;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-size: clamp(1.5rem, 1.5vw, 1.7rem);
        letter-spacing: 1.5px;
      }
    }
  }
}
