.home {
  &-header {
    background: url('/images/amsterdam.jpg') no-repeat center center;
    background-size: cover;
  }

  &-menu {
    margin: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    transition: all 800ms ease;
    justify-content: space-between;

    &__item {
      text-align: center;
      background: $orange;
      padding: 2rem 0;
      margin-bottom: 2rem;
      flex: 0 0 32%;
      transition: all 800ms ease;

      @media screen and (max-width: 800px) {
        flex: 0 0 48.5%;
      }

      @media screen and (max-width: 500px) {
        flex: 1 0 100%;
      }

      .icon {
        width: 11rem;
        height: 11rem;
      }

      .btn {
        max-width: 21rem;
        margin: 0 auto;

        @media screen and (max-width: $bp-small) {
          max-width: 85%;
        }
      }

      h2 {
        color: white;
        font-size: 3.5rem;
        font-size: clamp(1.7rem, 2vw, 3rem);
        text-transform: uppercase;
        margin: 1.2rem 0;
      }
    }
  }
}

.full {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  right: 0;

  .header-menu-corner {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.low {
  position: absolute;
  overflow: hidden;
  width: 15%;
  height: 100%;
  right: 0;

  .header-menu-corner {
    clip-path: polygon(3% 0, 100% 0, 100% 100%, 0 100%);
  }
}
