@keyframes example {
  from {
    height: 0rem;
  }
  to {
    height: 25rem;
  }
}

.qr-code {
  background-size: contain !important;
  height: 150px;
}

.page-header {
  height: 25rem;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 65% 100%, 0 65%);
  transition: all 500ms ease;
  margin-bottom: 5rem;
  animation-name: example;
  animation-duration: 2s;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;

  @media screen and (max-width: 1080px) {
    height: 25rem;
  }
}

.page-button {
  max-width: 25rem;
  margin: 3rem 0 6rem;
}

.page-flex {
  display: flex;
}

.page-image {
  flex: 0.65;
  position: relative;
  height: 50rem;
  transition: all 500ms ease;

  @media screen and (max-width: 800px) {
    display: none;
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
}

.page-image-mobile {
  flex: 0.65;
  position: relative;
  height: 25rem;
  margin-top: 5rem;
  transition: all 500ms ease;
  display: none;

  @media screen and (max-width: 800px) {
    display: block;
  }

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
}

.page-text {
  h1 {
    font-size: 4.5rem;
    font-size: clamp(3rem, 3.5vw, 5rem);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1.2;
  }

  p {
    margin-top: 2rem;
    line-height: 1.6;
    font-size: 1.6rem;
    font-size: clamp(1.6rem, 2.5vw, 1.7rem);
  }
}

.page-map {
  margin-top: 5rem;
  height: 45rem;
  transition: all 500ms ease;

  @media screen and (max-width: $bp-small) {
    height: 35rem;
  }
}

.page-business {
  &-list {
    margin: 3rem 0 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: all 500ms ease;

    li {
      display: flex;
      align-items: center;

      .arrow {
        width: 25px;
        height: 22px;
        margin-right: 3rem;
      }

      p {
        line-height: 1.6;
      }
    }
  }
}

.reparatie {
  .page-business {
    &-list {
      margin: 5rem 0;
    }
  }

  .btn-red {
    max-width: 20rem;
    width: 20rem;
  }
}

.faq {
  &-questions {
    margin: 5rem 0;

    a {
      color: white;
    }

    &__title {
      margin-bottom: 2rem;
    }

    &__flex {
      display: flex;
      flex-direction: column;
    }

    .question {
      background: $orange;
      padding: 1.5rem 3rem;
      transition: all 800ms ease;
      margin-bottom: 3rem;

      &-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 800ms ease;
        cursor: pointer;

        @media screen and (max-width: $bp-small) {
          flex-direction: column;
          text-align: center;
          gap: 2rem;
          padding: 2rem;
        }
      }

      &:hover {
        .btn-white {
          p {
            color: $orange;
            left: 0;
          }

          .btn-corner {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            width: 101%;
          }
        }
      }

      &-text {
        color: white;
        padding-right: 3rem;
        line-height: 1.6;

        @media screen and (max-width: $bp-small) {
          padding: 0;
          margin-bottom: 1rem;
        }
      }

      &-answer {
        display: flex;
        align-items: center;
        max-width: 80%;
        margin: 2rem 0;
        transition: all 800ms ease;

        @media screen and (max-width: $bp-small) {
          max-width: 100%;
          text-align: center;
        }
      }
    }
  }

  .btn-white {
    max-width: 16rem;

    &:hover {
      p {
        color: $orange;
      }
    }
  }
}
