<template>
  <div class="faq">
    <div
      :style="`background: url(images/faq.jpg)`"
      class="page-header home-header"
    ></div>
    <div class="container">
      <div class="container-text">
        <div class="page-text">
          <div class="margin-bottom-medium">
            <h1>{{ faq.title }}</h1>
          </div>
          <p>{{ faq.description }}</p>
        </div>
      </div>

      <div class="faq-questions">
        <h3 class="faq-questions__title">{{ faq.onderwerp_1 }}</h3>
        <div class="faq-questions__flex">
          <div
            v-for="(item, index) in faq.questions_1"
            :key="index"
            class="question"
          >
            <div @click="toggleQuestion(item._id)" class="question-flex">
              <p
                :class="{ bold: questionIndex === item._id }"
                class="question-text"
                v-html="item.question"
              ></p>
              <button
                :class="{ full_white: questionIndex === item._id }"
                class="btn btn-white"
              >
                <p v-if="questionIndex === item._id">Sluiten</p>
                <p v-else>Bekijken</p>
                <div class="btn-corner btn-white-corner"></div>
              </button>
            </div>
            <transition name="slide-down">
              <div v-if="questionIndex === item._id" class="question-answer">
                <p class="question-text" v-html="item.answer"></p>
              </div>
            </transition>
          </div>
        </div>
      </div>

      <div class="faq-questions">
        <h3 class="faq-questions__title">{{ faq.onderwerp_2 }}</h3>
        <div class="faq-questions__flex">
          <div
            v-for="(item, index) in faq.questions_2"
            :key="index"
            class="question"
          >
            <div @click="toggleQuestion(item._id)" class="question-flex">
              <p
                :class="{ bold: questionIndex === item._id }"
                class="question-text"
                v-html="item.question"
              ></p>
              <button
                :class="{ full_white: questionIndex === item._id }"
                class="btn btn-white"
              >
                <p v-if="questionIndex === item._id">Sluiten</p>
                <p v-else>Bekijken</p>
                <div class="btn-corner btn-white-corner"></div>
              </button>
            </div>
            <transition name="slide-down">
              <div v-if="questionIndex === item._id" class="question-answer">
                <p class="question-text" v-html="item.answer"></p>
              </div>
            </transition>
          </div>
        </div>
      </div>

      <div class="faq-questions">
        <h3 class="faq-questions__title">{{ faq.onderwerp_3 }}</h3>
        <div class="faq-questions__flex">
          <div
            v-for="(item, index) in faq.questions_3"
            :key="index"
            class="question"
          >
            <div @click="toggleQuestion(item._id)" class="question-flex">
              <p
                :class="{ bold: questionIndex === item._id }"
                class="question-text"
                v-html="item.question"
              ></p>
              <button
                :class="{ full_white: questionIndex === item._id }"
                class="btn btn-white"
              >
                <p v-if="questionIndex === item._id">Sluiten</p>
                <p v-else>Bekijken</p>
                <div class="btn-corner btn-white-corner"></div>
              </button>
            </div>
            <transition name="slide-down">
              <div v-if="questionIndex === item._id" class="question-answer">
                <p class="question-text" v-html="item.answer"></p>
              </div>
            </transition>
          </div>
        </div>
      </div>

      <div class="faq-questions">
        <h3 class="faq-questions__title">{{ faq.onderwerp_4 }}</h3>
        <div class="faq-questions__flex">
          <div
            v-for="(item, index) in faq.questions_4"
            :key="index"
            class="question"
          >
            <div @click="toggleQuestion(item._id)" class="question-flex">
              <p
                :class="{ bold: questionIndex === item._id }"
                class="question-text"
                v-html="item.question"
              ></p>
              <button
                :class="{ full_white: questionIndex === item._id }"
                class="btn btn-white"
              >
                <p v-if="questionIndex === item._id">Sluiten</p>
                <p v-else>Bekijken</p>
                <div class="btn-corner btn-white-corner"></div>
              </button>
            </div>
            <transition name="slide-down">
              <div v-if="questionIndex === item._id" class="question-answer">
                <p class="question-text" v-html="item.answer"></p>
              </div>
            </transition>
          </div>
        </div>
      </div>

      <div class="faq-questions">
        <h3 class="faq-questions__title">{{ faq.onderwerp_5 }}</h3>
        <div class="faq-questions__flex">
          <div
            v-for="(item, index) in faq.questions_5"
            :key="index"
            class="question"
          >
            <div @click="toggleQuestion(item._id)" class="question-flex">
              <p
                :class="{ bold: questionIndex === item._id }"
                class="question-text"
                v-html="item.question"
              ></p>
              <button
                :class="{ full_white: questionIndex === item._id }"
                class="btn btn-white"
              >
                <p v-if="questionIndex === item._id">Sluiten</p>
                <p v-else>Bekijken</p>
                <div class="btn-corner btn-white-corner"></div>
              </button>
            </div>
            <transition name="slide-down">
              <div v-if="questionIndex === item._id" class="question-answer">
                <p class="question-text" v-html="item.answer"></p>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({
  // @ts-ignore
  async asyncData({ $content }) {
    const faq = await $content('pages/faq').fetch()
    return { faq }
  },
})
export default class FaqPage extends Vue {
  showAnswer = false
  questionIndex = null

  toggleQuestion(index) {
    if (this.questionIndex === index) {
      this.questionIndex = null
    } else {
      this.questionIndex = index
    }
  }
}
</script>
