<template>
  <div class="reparatie">
    <div
      :style="`background: url(images/documenten.jpg)`"
      class="page-header home-header"
    ></div>
    <div class="container">
      <div class="page-flex">
        <div class="container-text">
          <div class="page-text">
            <div class="margin-bottom-medium">
              <h1>{{ page.title }}</h1>
            </div>
            <p>{{ page.text_1 }}</p>
          </div>
        </div>
      </div>
      <div class="faq-questions">
        <div class="faq-questions__flex">
          <div
            v-for="(item, index) in page.documents"
            :key="index"
            class="question"
          >
            <a :href="`documents/${item.document}`" download>
              <div class="question-flex">
                <p class="question-text">
                  {{ item.name }}
                </p>
                <button class="btn btn-white">
                  <p>Bekijken</p>
                  <div class="btn-corner btn-white-corner"></div>
                </button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({
  // @ts-ignore
  async asyncData({ $content }) {
    const page = await $content('pages/documenten').fetch()
    return { page }
  },
})
export default class FaqPage extends Vue {}
</script>
