<template>
  <div class="home">
    <div class="page-header home-header"></div>
    <div class="container">
      <div class="container-text">
        <div class="page-text">
          <div class="margin-bottom-medium">
            <h1>Cornerstone vastgoed</h1>
            <h1>Steengoed</h1>
            <p>Transparant, vertrouwd en servicegericht</p>
          </div>
          <p>
            Bij Cornerstone Vastgoed staat de huurder centraal richting een
            optimale klantbeleving voor alle partijen.
          </p>
          <p>
            Middels onderstaande buttons kan er gericht worden gezocht naar
            vragen en antwoorden, waardoor de werkwijze van Cornerstone Vastgoed
            inzichtelijk(er) wordt. Uiteraard zijn wij bereikbaar via diverse
            kanalen als er nog vragen en/of opmerkingen zijn.
          </p>
        </div>
      </div>

      <div class="home-menu">
        <div class="home-menu__item">
          <img class="icon" src="images/onderhoudstips.png" alt="" />
          <h2>Onderhoud</h2>
          <nuxt-link to="/onderhoud">
            <div class="btn btn-white">
              <p>Lees verder</p>
              <div class="btn-corner btn-white-corner"></div>
            </div>
          </nuxt-link>
        </div>
        <div
          v-for="item in pages.slice(0, 5)"
          :key="item.__id"
          class="home-menu__item"
        >
          <img class="icon" :src="`images/${item.icon}`" alt="" />
          <h2>{{ item.title }}</h2>
          <nuxt-link :to="`/${item.title.toLowerCase()}`">
            <div class="btn btn-white">
              <p>Lees verder</p>
              <div class="btn-corner btn-white-corner"></div>
            </div>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({
  // @ts-ignore
  async asyncData({ $content }) {
    const pages = await $content('pages').sortBy('__id', 'asc').fetch()
    return { pages }
  },
})
export default class Homepage extends Vue {}
</script>
