<template>
  <div class="huurders">
    <div
      :style="`background: url(images/huurdersportaal.jpg)`"
      class="page-header home-header"
    ></div>
    <div class="container">
      <div class="container-text">
        <div class="page-text">
          <div class="margin-bottom-medium">
            <h1>{{ huurders.title }}</h1>
          </div>
          <p v-html="huurders.text_1"></p>
        </div>

        <div class="page-button">
          <a target="_blank" href="https://login.cornerstonevastgoed.nl/">
            <div class="btn btn-red">
              <p>Huurdersportaal</p>
              <div class="btn-corner btn-red-corner"></div></div
          ></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({
  // @ts-ignore
  async asyncData({ $content }) {
    const huurders = await $content('pages/huurdersportaal').fetch()
    return { huurders }
  },
})
export default class FaqPage extends Vue {}
</script>
