<template>
  <div class="faq">
    <div class="page-header home-header"></div>
    <div class="container">
      <div class="page-flex">
        <div class="container-text">
          <div class="page-text">
            <div class="margin-bottom-medium">
              <h1>{{ page.title }}</h1>
            </div>
            <p>{{ page.description_1 }}</p>
            <p>{{ page.description_2 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

@Component({
  // @ts-ignore
  async asyncData({ $content }) {
    const page = await $content('pages/voorwaarden').fetch()
    return { page }
  },
})
export default class FaqPage extends Vue {}
</script>
